$blue: #445eef;
$red: #CB2C30;
$green: #20a200;

$purple: #6b488e;
$tan: #e1e0dc; // was darker #cac7c0
$darktan: #A7A6A2;
$lessblack: #333;
$black: hsl(0, 0%, 9%); //#161616
$white: #fff;
$gray: #e6e6e6;

$facebook: #3b5998;
$twitter: #55acee;
$email: #dd4b39;

// Old
// $darkgray: hsl(0, 0%, 9%); //#161616
// $lightgray: hsl(0, 0%, 30%); //#919191


$sans: "Helvetica", Arial, Verdana, sans-serif;
$serif: Georgia, Times, serif;


// Screen sizes
$break-small: 580px; // 0-580